#groupOrderInvitation[data-role="edit"] .invitee:hover .remove{
	visibility: hidden;
}

#groupOrderInvitation[data-role="edit"] .smallNote{
	display: none;
}

#groupOrderInvitation[data-role="edit"] #groupOrderInvitationNote{
	display: none;
}

#groupOrderInvitation[data-role="edit"] .expiration-time{
	display: none;
}