.ui-dialog.responsive{
	width: 560px;	
	position: fixed;
	top: 50px;
	left: 50%;
	margin-left: -280px;
}

#groupOrderInvitation .friends-list{
	overflow-y: auto;
	overflow-x: hidden;
}

#groupOrderInvitation .display{
  text-overflow: ellipsis;
}

#groupOrderInvitation .invitee.creator{	
	overflow-y: auto;
	overflow-x: hidden;  
}

#groupOrderInvitation .invitee.creator .add{
	visibility: hidden;
}

#groupOrderInvitation .invitee.creator .centered:last-child .add{
	visibility: visible;
}

#groupOrderInvitation .invitee .invite-check{
	display: inline-block;
	float: none;
	vertical-align: middle;
}

#groupOrderInvitation .remove{
	visibility: hidden;
	cursor: pointer;
	vertical-align: middle;
}

#groupOrderInvitation .invitee:hover .remove{
	visibility: visible;
}

#groupOrderInvitation .editor{
	display: inline-block;
	vertical-align: middle;
}

#groupOrderInvitation img.add{
	cursor: pointer;
}

.ui-timepicker.ui-widget{
	font-size: inherit;
}

#groupOrderInvitation.loading:before{
	content: '';
	position: absolute;
	left: 0%;
	right: 100%;
	top: 0%;
	bottom: 100%;	
	height: 100%;
	width: 100%;	
}

#groupOrderInvitation.loading:after{
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	left: 50%;
	margin-left: -25px;	
	background-repeat: no-repeat;
	background-size: contain;
}

/* mobile */
@media (max-width: 620px){
.ui-dialog.responsive{
	width: auto;	
	position: fixed;
	top: 0px;
	left: 0px;	
	right: 0px;
	margin-left: 0px;
}

#groupOrderInvitation .friends-list .invitee{
	background: linear-gradient(to bottom, black, #aaaaaa);
	color: white;
}

#groupOrderInvitation .invitee .centered{
	width: 95%;
	margin: 0px auto;
}

#groupOrderInvitation .remove{
	visibility: visible;
}

#groupOrderInvitation .editor{
	margin-bottom: 3px;
}

.ui-timepicker.ui-widget{
	 -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);	
}
}