<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/commons/libs/jQuery.js"></script>    
  </head>
  <body>
    <% include ../public/webordering/groupOrder/friendsEditor.html %>
  </body>
</html>